

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
</head>
<body>
    </body>
</html>

<p>hola mundos</p>

<a asp-action="Addrecipe">Add Recipe</a>
<br />

<a asp-action="RecipeList">Recipe List</a>
